<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.og.health.sleeptracker">

    <application
        android:name=".application.SleepTrackerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ChartActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3274f0df4969fff2fcfce54765f4d96b095f2e25" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
